@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.underline-effect {
    position: relative;
}
.underline-effect::after {
    content: "";
    width: 120%;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #06286e;
}

.problem-card {
    background: linear-gradient(
        to bottom left,
        #051a91 0%,
        /* Color stop at 0% */ #061c93 17%,
        /* Color stop at 17% */ #2284f1 80%,
        /* Color stop at 80% */ #1f80eb 100% /* Color stop at 100% */
    );
}
